@use "./variables" as *;
@use "./mixins" as *;

.download {
  display: flex;
  justify-content: space-between;

  @include adaptive-value("gap", 100, 50, 1);

  @include media(1030) {
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50%;

    @include media(1030) {
      width: 100%;
    }

    &-desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: $text-dark;
    }

    .icons {
      width: 100%;
      display: flex;
      gap: 20px;

      @include media(600) {
        flex-direction: column;
      }

      &__item {
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          svg {
            fill: $background-container;
          }

          svg path {
            fill: $text-accent;
          }
        }
      }
    }
  }

  &__banner {
    width: 50%;
    display: flex;

    @include media(1030) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
