@use "./variables" as *;
@use "./mixins" as *;

.favourite {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  &__slider {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-wrapper {
      width: 100%;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    @include media(768) {
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      justify-content: unset;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .fade {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;

    @include media(768) {
      width: 100%;
      flex-shrink: 0;
      scroll-snap-type: x mandatory;
    }

    @include media(600) {
      width: 100%;
    }

    &__image {
      width: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: $text-dark;
    }

    &__desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: $text-dark;
    }

    &__price {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: $text-dark;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    user-select: none;
    z-index: 10;

    @include media(768) {
      display: none;
    }

    &:hover {
      svg {
        fill: $background-container;
      }

      svg path {
        stroke: $text-light;
      }
    }
  }

  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }

  .dot {
    cursor: pointer;
    height: 4px;
    width: 40px;
    margin: 0 2px;
    background-color: $border-light;
    border-radius: 100px;
    display: inline-block;
    transition: background-color 0.6s ease;

    @include media(768) {
      display: none;
    }
  }

  .dot:hover {
    background-color: $border-dark;
  }

  .active {
    position: relative;
    width: 40px;
    height: 4px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $border-dark;
      animation-name: dot-anim;
      animation-duration: 6s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
  }
}

@keyframes dot-anim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.slider-scrollbar {
  height: 24px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: none;

  @include media(768) {
    display: block;
  }
}

.slider-scrollbar .scrollbar-track {
  background: $border-light;
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: $border-dark;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  border-radius: inherit;
}
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: $text-accent;
  border-radius: 50%;
  margin: 50px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
