@use "./variables" as *;
@use "./mixins" as *;

.footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  padding: 100px;
  gap: 100px;
  background-color: $background-container;
  border-radius: 40px;

  @include media(900) {
    flex-direction: column;
    align-items: unset;
    padding: 100px 60px;
  }

  @include media(525) {
    padding: 60px 16px;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include media(900) {
      width: 100%;
    }

    &__title {
      color: $text-light;
    }

    .socials {
      display: flex;
      gap: 12px;

      &__icon {
        cursor: pointer;

        &:hover {
          svg {
            fill: $background-body;
          }

          svg path {
            stroke: $text-dark;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-subtitle {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: $text-light;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__info {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        color: $text-light;
      }

      .address,
      .phone {
        cursor: pointer;
        position: relative;
        width: fit-content;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $text-light;
          transform-origin: bottom right;
          transition: transform 0.55s ease-in-out;
        }

        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
