@use "./variables" as *;
@use "./mixins" as *;

.gallery {
  &__title {
    margin-bottom: 40px;
  }

  &__collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 390px 250px 390px;
    grid-template-areas:
      "first second"
      "first fourth"
      "third fourth";
    gap: 40px;

    @include media(768) {
      grid-template-columns: 1fr;
      grid-template-rows: 590px 590px;
      grid-template-areas: unset;
      gap: 40px;
    }

    .image-1 {
      grid-area: first;

      @include media(768) {
        order: 1;
        grid-area: unset;
      }
    }

    .image-2 {
      grid-area: third;

      @include media(768) {
        display: none;
      }
    }

    .image-3 {
      grid-area: second;

      @include media(768) {
        display: none;
      }
    }

    .image-4 {
      grid-area: fourth;

      @include media(768) {
        order: 2;
        grid-area: unset;
      }
    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transition:
        transform 1s,
        filter 2s ease-in-out;

      transform: scale(1.2);

      @include media(650) {
        transform: scale(1);
      }
    }
  }
}
