@mixin media($width) {
  @media only screen and (max-width: #{$width + px}) {
    @content;
  }
}

@mixin mediaMobile($width) {
  @media only screen and (min-width: #{$width + px}) {
    @content;
  }
}
