@use "./variables" as *;
@use "./mixins" as *;

.wrapper {
  position: relative;
}

.header__menupath {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-bottom: 2px solid #403f3d;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.menu__price-container {
  display: flex;
  align-items: center;
  gap: 8px;

  .menu__price--old {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9rem;
  }

  .menu__price--discount {
    color: #403f3d;
    font-weight: 600;
    font-size: 1rem;
  }
}

.menu__error {
  color: rgb(190, 22, 22);
  font-size: 20px;
  margin: 20px;
}

.menu {
  margin: 20px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__loader {
  font-size: 24px;
  font-weight: 600;
  color: #403f3d;
}

.menu__showmore {
  display: none;

  @include media(768) {
    display: block;
    background: $background-body;
    border: none;
    margin-top: 50px;
  }
}

.menu__title {
  text-align: center;
  margin: auto;
}

.menu__buttons {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 16px;

  @include media(565) {
    gap: 8px;
  }

  &-icon {
    display: flex;
    padding: 7px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $border-light;
  }

  .menu-button {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid $border-light;
    background: $background-body;
    color: $text-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-button {
    &:hover,
    &.active {
      background: $background-container;
      color: $text-light;
    }
  }
}

.menu__wrapper {
  display: flex;
  // flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 40px;

  &-item {
    border: 1px solid $border-light;
    border-radius: 40px;
    cursor: pointer;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @include media(1100) {
      width: 25%;
    }

    @include media(885) {
      width: 33%;
    }

    @include media(565) {
      width: 100%;
    }

    &:hover {
      .menu__wrapper-image img {
        transform: scale(1);
      }
    }
  }

  &-image {
    width: 100%;
    border-radius: 40px;
    overflow: hidden;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      vertical-align: top;
      transition:
        transform 1s,
        filter 2s ease-in-out;
      transform: scale(1.2);

      @include media(650) {
        transform: scale(1);
      }
    }
  }

  &-info {
    padding: 20px;
  }

  &-subtitle,
  &-price {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: $text-dark;
  }

  &-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $text-dark;
    margin: 12px 0;
  }
}
