.register {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inputs {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__error-msg {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(209, 2, 2);
      font-weight: bold;
      font-style: italic;
    }

    &__input {
      padding: 16px 12px;
      background: none;
      outline: none;
      border-radius: 12px;
      border: 1px solid #c1b6ad;
      margin: 4px;
    }

    &__label {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0%;
      color: #403f3d;
      line-height: 150%;
    }

    &__group {
      display: flex;
      flex-direction: column;
      width: 100%;

      .invalid {
        color: rgb(189, 2, 2);
      }
    }

    &__button {
      padding: 10px 53px;
      background: none;
      border-radius: 100px;
      border: 1px solid #665f55;
      font-size: 16px;
      font-weight: 600;
      color: #403f3d;
      margin-top: 16px;
      opacity: 0.4;
      cursor: not-allowed;
    }

    .activate-button {
      opacity: 1;
      cursor: pointer;
    }

    .loading {
      opacity: 0.7;
      pointer-events: none;
      cursor: wait;
    }

    .payment-options {
      margin-top: 20px;
      display: flex;
      gap: 24px;
    }

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #665f55;
      border-radius: 50%;
      background: none;
      cursor: pointer;
      position: relative;
      transition: all 0.2s ease-in-out;

      &:checked {
        background-color: #665f55;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(102, 95, 85, 0.4);
      }
    }
  }
}
