$text-dark: #403f3d;
$text-light: #e1d4c9;
$text-accent: #b0907a;
$background-body: #e1d4c9;
$background-container: #665f55;
$background-backdrop: rgba(64, 63, 61, 0.8);
$border-light: #c1b6ad;
$border-dark: #665f55;
